:root {
    --navbar-width: 300px;
    --text-color: rgba(255, 238, 209, 0.895);
  }

html {
    background-color: rgb(0, 0, 0);
    color: var(--text-color);
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Nunito, Sanchez, Roboto, Arial, Georgia, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
  }
  
  a {
    color: var(--text-color);
    padding: 0 3px 0 3px;
  }
  
  a:hover, a:focus {
    color: var(--text-color);
    font-weight: normal;
    text-decoration: underline;
    background-color: rgb(43, 43, 43);
    padding: 0 1px 0 1px;
    border: 2px solid rgb(204, 1, 170);
  }

  a:visited {
    color: var(--text-color);
  }
  
  body {
    border: 0px solid cyan;
    text-align: left;
    margin: 0;
  
    /* line-height:
    */
  }
  
  code {
    display: block;
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: #bbbbbb;
    border: 0px solid gray;
    border-radius: 5px;
  }
  
  #examples li {
    margin-bottom: 1em;
  }

  header {
    font-size: 1.5rem;
    border: 0px solid yellow;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 5ormal;
    margin-top: 2rem;
  }
  
  .inline-code {
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
  
  #main-doc {
    /* position: absolute; */
    margin-left: calc(var(--navbar-width) + 4px + 10px);
    text-align: left;
    padding: 20px;
    border: 0px solid pink;
  }
  
  /*#
  main-doc header {
    
  }
  */
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0px;
    min-width: 150px;
    width: var(--navbar-width);
    height: 99%;
    background-color: black;
    border: 0px solid red;
    border-right: 0px solid cyan;
  }
  
  #navbar a {
    display: block;
    border: 0px solid cyan;
    text-decoration: none;
    padding: 2px;
    margin: 8px;
  }

  #navbar a:hover, a:focus {
 
    border: 2px solid cyan;
    padding: 2px;
    margin: 6px;
  }
  
  #navbar header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgreen;
  }
  
  #navbar li {
    width: 90%;
    list-style: none;
    border-bottom: 0px solid lightGreen;
    margin: 1px 10px 1px 20px;
    padding: 5px;
    /*    position: relative;  */
  }
  
  #navbar ul {
    border: 0px solid yellow;
    padding: 0;
    margin: 0;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    /* */
  }
  
  section {
    border-bottom: 1px solid lightgreen;
    margin-bottom: 1.5rem;
  }
  
  section article {
    margin: 5px;
    padding: 5px;
    border: 0px solid lightGreen;
  }
  
  section p {
    border: 0px solid magenta;
  }
  
  section ol,
  ul {
    margin-bottom: 2em;
  }

  @media only screen and (max-width: 480px) {
    #main-doc {
      margin: 210px auto;
    }
  
    #navbar {
      position: absolute;
      top: 0;
      width: calc(100% - 4px);
      margin: 0 auto;
      height: calc(
        1.5rem + 20px + 4px + 4px + 4px + 3rem + 60px + 18px + 4px + 4px
      );
    }
  
    #navbar ul {
      height: calc(3rem + 60px + 18px + 4px + 4px);
    }
  }
  
  @media only screen and (max-width: 300px) {
    header {
    }
  
    #navbar ul {
      height: calc(2rem + 50px + 16px + 4px + 4px);
    }
  }
  